/* This creation of the search field, which is HEADER, will only be in this file. The other headers are in index.css */
.spg-header--guide-list {
	margin-right: 0;
}

.sgp-header__search {
	align-items: center;
	background-color: var(--bg-primary);
	border: 0.1rem solid var(--bg-tertiary);
	border-radius: 0.5rem;
	box-shadow: 0 0 20rem 1rem var(--shadow-segundary);
	display: flex;
	height: 4rem;
	max-width: 50rem;
	width: 100%;
}

.sgp-header__search:focus-within {
	outline: 0.2rem solid var(--bg-primary);
}

.sgp-header__img-search {
	height: 2rem;
	margin: 0 1rem;
	width: 2rem;
}

.sgp-header__search-input {
	border: none;
	font-family: var(--font-primary);
	font-size: 1.7rem;
	height: 100%;
	outline: none;
	width: 80%;
}

.sgp-header__search-input::placeholder {
	font-size: 1.7rem;
}

.sgp-header__search-input::-webkit-search-cancel-button {
	cursor: pointer;
	margin-left: 1rem;
}

.sgp-header__button-ctrl-k {
	align-items: center;
	background-color: var(--bg-ctrl-k);
	border-radius: 0.5rem;
	display: flex;
	height: 2.5rem;
	justify-content: center;
	margin: 0 1rem;
	width: 5rem;

}

.sgp-header__ctrl-k-text {
	color: var(--color-black);
	font-size: 1.5rem;
}


/* Container */
.sgp-container {
	display: grid;
	grid-template-columns: 30rem 3fr 1fr;
	height: calc(100% - 6.5rem);
	width: 100%;
}

.sgp-strong {
	color: var(--text-title);
}

/* Aside-left */
.sgp-aside-left {
	align-items: center;
	border-right: 0.1rem solid var(--bg-line-aside);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
}

.sgp-aside-left__title {
	width: 100%;
}

.sgp-aside-left__list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
}

.sgp-aside-left__summary-primary {
	color: var(--text-title);
	cursor: pointer;
	font-size: 1.7rem;
	font-weight: 500;
}

.sgp-aside-left__summary-secondary {
	color: var(--text-title);
	cursor: pointer;
	font-size: 1.7rem;
	font-weight: 500;
	margin-left: 2rem;
}

.sgp-aside-left__link-primary {
	color: var(--text-paragraph);
	cursor: pointer;
	font-size: 1.6rem;
	margin-left: 2rem;
}

.sgp-aside-left__link-secondary {
	color: var(--text-paragraph);
	cursor: pointer;
	font-size: 1.6rem;
	margin-left: 4rem;
}

:is(.sgp-aside-left__link-primary, .sgp-aside-left__link-secondary):hover {
	color: var(--bg-button-hover);
}

/* Main */
.sgp-main {
	height: 100%;
	overflow: auto;
	width: 100%;
}

.sgp-main::-webkit-scrollbar {
	width: 0.8rem;
}

.sgp-main::-webkit-scrollbar-thumb {
	background-color: var(--bg-scrollbar);
	border-bottom-left-radius: 1rem;
	border-top-left-radius: 1rem;
	height: 15rem;
}

.sgp-main__title {
	border-bottom: 0.1rem solid var(--bg-line-aside);
	padding: 0 3rem;
	padding-bottom: 4rem;
}

.sgp-main__subtitle {
	color: var(--text-title);
	font-size: 2rem;
	padding: 4rem 3rem;
}

.sgp-main__subtitle-text {
	color: var(--text-paragraph);
	font-size: 1.6rem;
	font-weight: 400;
	margin-top: 1rem;
	text-align: justify;
}

.sgp-main__system {
	padding: 3rem;
}

.sgp-main__system-title {
	color: var(--text-title);
	font-size: 2rem;
	line-height: 4rem;
}

.sgp-main__system-item {
	color: var(--text-paragraph);
	line-height: 4rem;
	margin-left: 1rem;
}

.sgp-main__system-description {
	color: var(--text-paragraph);
	line-height: 4rem;
	margin-left: 2rem;
}

.sgp-main__system-description::before {
	content: '•';
}

.sgp-main__system-image {
	height: 20rem;
	margin: 1rem 0;
	max-width: 90rem;
	width: 100%;
}

.sgp-main__login {
	padding: 3rem;
}

.sgp-main__login-title {
	color: var(--text-title);
	font-size: 2rem;
	line-height: 4rem;
}

.sgp-main__login-item {
	color: var(--text-paragraph);
	line-height: 4rem;
	margin-left: 1rem;
}

.sgp-main__login-image {
	margin: 2rem 0;
	max-width: 90rem;
	width: 100%;
}

.sgp-main__login-description {
	color: var(--text-paragraph);
	line-height: 4rem;
	margin-left: 2rem;
}

.sgp-main__login-description::before {
	content: '•';
}

.sgp-main__value {
	padding: 3rem;
}

.sgp-main__value-title {
	color: var(--text-title);
	font-size: 2rem;
	line-height: 4rem;
}

.sgp-main__value-item {
	color: var(--text-paragraph);
	line-height: 4rem;
	margin-left: 1rem;
}

.sgp-main__value-image {
	max-width: 90rem;
	width: 100%;
}

.sgp-main__infor {
	padding: 3rem;
}

.sgp-main__infor-title {
	color: var(--text-title);
	font-size: 2rem;
	line-height: 4rem;
}

.sgp-main__infor-table {
  border-collapse: collapse;
	margin-top: 2rem;
  width: 100%;
}

:is(.sgp-main__infor-header, .sgp-main__infor-subtitle) {
  border: 0.1rem solid var(--bg-line-aside);
	color: var(--text-title);
	font-weight: bold;
  padding: 1.2rem;
  text-align: left;
}

.sgp-main__infor-cell {
	border: 0.1rem solid var(--bg-line-aside);
	color: var(--text-paragraph);
  padding: 1.2rem;
  text-align: left;
}

/* Button area */
.sgp-main__location-button {
	display: flex;
	justify-content: space-around;
	margin-bottom: 3rem;
	margin-top: 4rem;
	padding: 3rem;
	width: 100%;
}

.sgp-main__link-button {
	align-items: center;
	background-color: var(--bg-button);
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 1rem var(--shadow-quintennial);
  color: var(--text-button);
  cursor: pointer;
	display: flex;
  font-size: 1.8rem;
	justify-content: flex-start;
	padding: 1rem 2rem;
  transition: background-color 0.3s ease, transform 0.4s ease;
  width: 21rem;
}

.sgp-main__link-button:active {
	box-shadow: 0 0.4rem 1rem var(--shadow-segundary);
	transform: translateY(0.5rem);
}

.sgp-main__link-button:hover {
	background-color: var(--bg-button-hover);
}

:is(.sgp-main__location-text-left, .sgp-main__location-text-right) {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

:is(.sgp-main__location-subtext-left, .sgp-main__location-subtext-right) {
	font-size: 2rem;
}

/* Aside-right */
.sgp-aside-right {
	border-left: 1px solid var(--bg-line-aside);
	display: flex;
	justify-content: center;
	padding-top: 2rem;
}

.sgp-aside-right__title {
	color: var(--text-title);
	font-size: 2rem;
	margin-bottom: 2rem;
}

.sgp-aside-right__item {
	color: var(--text-paragraph);
	font-size: 1.5rem;
	padding: 0.4rem 0;
}

.sgp-aside-right__link:hover {
	color: var(--bg-button);
}
